#pane-welcome {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;

  .main-menu {

    $base-main-menu-size: 30px;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    /*height: 30vh;*/


    padding: 30px;
    margin: 0;
    list-style-type: none;

    .men-el {
      /*position: absolute;*/
      line-height: 0;
      font-size: $base-main-menu-size;
    }

    .men-el a {
      color: #F39C12;
      -webkit-transition: color .5s, filter .4s;
      transition: color .5s, filter .4s;
      text-decoration: none;
    }

    .men-el a:hover {
      color: #d50900;
      -webkit-transition: color .2s, filter .2s;
      transition: color .2s, filter .2s;
      transition-timing-function: ease;
      text-decoration: none;
      filter: drop-shadow(3px 3px 2px #222);
    }

    .exit {
      margin-left: auto;
    }

    .reg-in-up {
      margin-left: auto;
      display: flex;
    }

    .sign-in {
      margin-right: $base-main-menu-size;
    }

    .about,
    .contact {
      margin-left: $base-main-menu-size / 1.7;
    }

    /*.setup {
      margin-left: $base-main-menu-size;
    }*/

    /*.sign-in {
      right: $base-main-menu-size * 24.5;
      top: $base-main-menu-size * 1.8;
      font-size: $base-main-menu-size * 4;
    }

    .sign-up {
      right: $base-main-menu-size * 18;
      top: $base-main-menu-size * 2.4;
      font-size: $base-main-menu-size * 2.5;
    }

    .exit {
      right: $base-main-menu-size * 18;
      top: $base-main-menu-size * 2.4;
      font-size: $base-main-menu-size * 2.5;
    }

    .about {
      right: $base-main-menu-size * 11;
      top: $base-main-menu-size * 1.8;
      font-size: $base-main-menu-size * 4;
    }

    .setup {
      right: $base-main-menu-size;
      top: $base-main-menu-size;
      font-size: $base-main-menu-size * 7;
    }

    .contact {
      right: $base-main-menu-size * 1.8;
      top: $base-main-menu-size * 11;
      font-size: $base-main-menu-size * 4;
    }

    .home {
      right: $base-main-menu-size * 2.4;
      top: $base-main-menu-size * 18;
      font-size: $base-main-menu-size * 2.5;
    }*/
  }
}