@charset "UTF-8";
html,
body {
  height: 100%;
  width: 100%;
  background-color: #222;
  color: white;
}

.main-logo {
  /*width: 9vw;
  max-width: 200px;
  min-width: 130px;*/
  width: 130px;
  filter: drop-shadow(1vw 1vw 0.5vw black);
  position: fixed;
  top: 40px;
  left: calc(50% - 65px);
  z-index: 1;
}

.main-caption {
  position: relative;
  /*top: 4vw;*/
  margin-top: 45px !important;
  /*left: 11vw;*/
  text-align: center;
  /*&:after {
    content: '';
    border-bottom: 1px solid rgba(255, 255, 255, .7);
  }*/
}

#wrap {
  height: 100%;
  display: flex;
  background-image: url("/img/pizza-bg-sm.png");
  flex-direction: row;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 74px;
}

.main-menu {
  z-index: 20;
}

#LoginForm {
  color: #2a2a2a !important;
}

.link-for-menu {
  margin-left: 6px;
  margin-right: 6px;
  color: black;
  background-color: #CCC;
  padding: 5px 10px;
  border-radius: 2px;
}
.link-for-menu .icon {
  margin-right: 0.4em;
  font-size: larger;
  color: black;
}
.link-for-menu a {
  color: black;
}
.link-for-menu a:hover {
  color: black;
  text-decoration: underline;
}

.setup-default-index ul {
  line-height: 2.3;
}

.hint-block {
  margin-bottom: 10px;
}

.field-profile-map .control-label.map-label {
  font-size: smaller;
}
@media screen and (max-width: 1200px) {
  .field-profile-map .control-label.map-label {
    text-align: left;
  }
}

.text-red-menu span, .text-red-menu i {
  color: #ffab20 !important;
}

.pg-link-to-embed .frame-example {
  height: 400px;
  width: 100%;
  border: none;
  background: none;
  overflow: hidden;
}

#orderForm .modal-body {
  height: calc(100vh - 120px);
  margin: 0;
  border: 0;
  width: 100%;
  overflow-x: hidden;
  padding: 0;
}

@media screen and (max-width: 1200px) {
  .col-md-55, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    float: none !important;
  }
}
#pane-welcome {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}
#pane-welcome .main-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  /*height: 30vh;*/
  padding: 30px;
  margin: 0;
  list-style-type: none;
  /*.setup {
    margin-left: $base-main-menu-size;
  }*/
  /*.sign-in {
    right: $base-main-menu-size * 24.5;
    top: $base-main-menu-size * 1.8;
    font-size: $base-main-menu-size * 4;
  }

  .sign-up {
    right: $base-main-menu-size * 18;
    top: $base-main-menu-size * 2.4;
    font-size: $base-main-menu-size * 2.5;
  }

  .exit {
    right: $base-main-menu-size * 18;
    top: $base-main-menu-size * 2.4;
    font-size: $base-main-menu-size * 2.5;
  }

  .about {
    right: $base-main-menu-size * 11;
    top: $base-main-menu-size * 1.8;
    font-size: $base-main-menu-size * 4;
  }

  .setup {
    right: $base-main-menu-size;
    top: $base-main-menu-size;
    font-size: $base-main-menu-size * 7;
  }

  .contact {
    right: $base-main-menu-size * 1.8;
    top: $base-main-menu-size * 11;
    font-size: $base-main-menu-size * 4;
  }

  .home {
    right: $base-main-menu-size * 2.4;
    top: $base-main-menu-size * 18;
    font-size: $base-main-menu-size * 2.5;
  }*/
}
#pane-welcome .main-menu .men-el {
  /*position: absolute;*/
  line-height: 0;
  font-size: 30px;
}
#pane-welcome .main-menu .men-el a {
  color: #F39C12;
  -webkit-transition: color 0.5s, filter 0.4s;
  transition: color 0.5s, filter 0.4s;
  text-decoration: none;
}
#pane-welcome .main-menu .men-el a:hover {
  color: #d50900;
  -webkit-transition: color 0.2s, filter 0.2s;
  transition: color 0.2s, filter 0.2s;
  transition-timing-function: ease;
  text-decoration: none;
  filter: drop-shadow(3px 3px 2px #222);
}
#pane-welcome .main-menu .exit {
  margin-left: auto;
}
#pane-welcome .main-menu .reg-in-up {
  margin-left: auto;
  display: flex;
}
#pane-welcome .main-menu .sign-in {
  margin-right: 30px;
}
#pane-welcome .main-menu .about,
#pane-welcome .main-menu .contact {
  margin-left: 17.6470588235px;
}

@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?mkt4j6");
  src: url("fonts/icomoon.eot?mkt4j6#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?mkt4j6") format("truetype"), url("fonts/icomoon.woff?mkt4j6") format("woff"), url("fonts/icomoon.svg?mkt4j6#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right-circle:before {
  content: "";
}

.icon-arrow-left-circle:before {
  content: "";
}

.icon-arrow-down-circle:before {
  content: "";
}

.icon-arrow-up-circle:before {
  content: "";
}

.icon-handshake-o:before {
  content: "";
}

.icon-office:before {
  content: "";
}

.icon-cogs:before {
  content: "";
}

.icon-question:before {
  content: "";
}

.icon-enter:before {
  content: "";
}

.icon-exit:before {
  content: "";
}

.icon-mail2:before {
  content: "";
}

.icon-home3:before {
  content: "";
}

.icon-cart:before {
  content: "";
}

.icon-wrench:before {
  content: "";
}

.icon-hammer:before {
  content: "";
}

.total-frame {
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /*width: 0;
  height: 0;*/
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

#left-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#right-wrapper {
  display: flex;
  flex-direction: column;
  width: 30px;
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
#right-wrapper.unwrapped {
  width: 100%;
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

#pane-welcome {
  height: 100%;
  padding: 1em;
  /*background-image: url(/img/bg-leaves.jpg);*/
  background: #e4ad09;
  background: radial-gradient(circle, #e4ad09 0%, #96b405 100%);
  background-size: cover;
}
#pane-welcome.wrapped {
  height: 0;
  -webkit-transition: height 0.6s ease;
  transition: height 0.6s ease;
}

#pane-order-make {
  /*width: $default-side-panel-size;*/
  width: 100%;
  height: 100%;
  /*background-color: red;*/
  position: relative;
}
#pane-order-make .btn-wrap-order-make-form {
  margin-top: 6px;
  margin-left: 6px;
  -webkit-transition: transform 1s;
  transition: transform 1s;
}
#pane-order-make .btn-wrap-order-make-form.unwrapped {
  transform: scaleX(-1);
  -webkit-transition: transform 1s;
  transition: transform 1s;
}

/*#pane-order-watch {
  width: 100%;
  height: $default-side-panel-size;
  background-color: green;
  position: relative;
}*/
#pane-setup {
  width: 100%;
  height: 30px;
  /*background-color: grey;*/
  position: relative;
  -webkit-transition: height 0.6s ease;
  transition: height 0.6s ease;
}
#pane-setup.unwrapped {
  height: 100%;
  -webkit-transition: height 0.6s ease;
  transition: height 0.6s ease;
}
#pane-setup .btn-wrap-setup-form {
  margin-top: 6px;
  margin-left: 6px;
  -webkit-transition: transform 1s;
  transition: transform 1s;
}
#pane-setup .btn-wrap-setup-form.unwrapped {
  transform: scaleX(-1);
  -webkit-transition: transform 1s;
  transition: transform 1s;
}

#pane-order-watch {
  width: 100%;
  height: 30px;
  /*background-color: grey;*/
  position: relative;
  -webkit-transition: height 0.6s ease;
  transition: height 0.6s ease;
}
#pane-order-watch.unwrapped {
  height: 100%;
  -webkit-transition: height 0.6s ease;
  transition: height 0.6s ease;
}
#pane-order-watch .btn-wrap-order-watch-form {
  margin-top: 6px;
  margin-left: 6px;
  -webkit-transition: transform 1s;
  transition: transform 1s;
}
#pane-order-watch .btn-wrap-order-watch-form.unwrapped {
  transform: scaleY(-1);
  -webkit-transition: transform 1s;
  transition: transform 1s;
}

.pane-switch {
  font-size: 15px;
  color: #edd634;
  position: absolute;
  background-color: #2a2a2a;
  cursor: pointer;
  border-radius: 50%;
  padding: 2px 2px 3px 3px;
}

.pane-mobile-switcher {
  display: none;
}

#wrap-inner {
  height: 100%;
  width: 100%;
  display: flex;
}

@media screen and (max-width: 5600px) {
  #wrap {
    flex-direction: column;
  }

  .pane-switch {
    display: none;
    width: 100% !important;
    height: 100% !important;
  }

  #right-wrapper {
    display: none;
  }

  #right-wrapper,
#left-wrapper,
.view-pane {
    width: 100% !important;
    height: 100% !important;
  }

  #pane-order-make,
#pane-setup,
#pane-order-watch {
    display: none;
  }

  #pane-order-make.visible,
#pane-setup.visible,
#pane-order-watch.visible {
    display: inline-block;
  }

  .pane-mobile-switcher {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .pane-mobile-switcher .switch-elem {
    /*height: 30px;*/
    padding: 13px;
    overflow: hidden;
    width: 25%;
    cursor: pointer;
    background-image: linear-gradient(to right, #232526 0%, #414345 51%, #232526 100%);
    /*background-image: linear-gradient(to right, #232526 0%, #232526 51%, #414345 100%);*/
    transition: 0.5s;
    background-size: 200% auto;
    text-transform: uppercase;
  }
  .pane-mobile-switcher .switch-elem .icon {
    margin-bottom: 8px;
    font-size: 20px;
  }
  .pane-mobile-switcher .switch-elem.selected {
    color: yellow;
    font-weight: bold;
    background-position: right center;
  }
  .pane-mobile-switcher .switch-elem:hover {
    background-position: right center;
    font-weight: bold;
  }
}
@media screen and (max-width: 600px) {
  .pane-mobile-switcher .switch-elem {
    font-size: 10px;
  }
}
@media screen and (max-width: 340px) {
  .pane-mobile-switcher .switch-elem {
    font-size: 8px;
  }
}
.site-index {
  display: flex;
}

.component {
  width: 15vw;
  height: 17vw;
  float: left;
  padding: 1vw;
}
.component .img-wrap {
  width: 11vw;
  height: 11vw;
  /*background: no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;*/
  background: no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.component .price-discount {
  text-decoration: line-through;
}
.component .component-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.sidebar {
  /*width: 30vw;*/
}
.sidebar .resulting-panel {
  border: 1px outset black;
  width: 30vw;
  height: 30vw;
}
.sidebar .total-price {
  width: 100%;
  display: inline;
  font-weight: bold;
}
.sidebar .components-selected {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.sidebar .components-selected .added-component {
  margin-right: 0.5vw;
}
.sidebar .components-selected .added-component .image {
  width: 4vw;
  height: 4vw;
  background: no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.sidebar .components-selected-details {
  width: 100%;
}
.sidebar .components-selected-details .added-component {
  display: flex;
}
.sidebar .components-selected-details .added-component > * {
  display: inline-block;
}
.sidebar .components-selected-details .added-component .image {
  width: 5vw;
  height: 5vw;
  background: no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  margin-right: 1vw;
}
.sidebar .components-selected-details .added-component .button-delete {
  margin-left: auto;
  width: 3vw;
  height: 3vw;
  background: no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-image: url(/img/close-btn.png);
}

.nav-separator {
  width: 9px;
}
.nav-separator:before {
  content: "";
  background-color: #AAA;
  width: 1px;
  height: 25px;
  display: inline-block;
  position: absolute;
  left: 8px;
  top: 16px;
}

.pg-simple .wrap {
  height: 100%;
}
.pg-simple .navbar {
  position: relative;
}
.pg-simple .footer {
  display: inline-block;
  width: 100%;
  margin-top: 4em;
}

.main-background {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 65px 15px 20px;
  min-height: 100%;
  border-radius: 5px;
}

.site-about {
  min-height: 100%;
}

.main-caption {
  margin-top: 0 !important;
}

/*# sourceMappingURL=style.css.map */
