#tp {

  /* Верхнее окно (основная страница)*/

  $frameMinWidth: 20%;
  $frameInitWidth: (
          left: $frameMinWidth,
          right: 100% - $frameMinWidth
  );

  .frame {
    height: 100vh;
    min-width: $frameMinWidth;
  }

  #vendor {
    width: map-get($frameInitWidth, left);
    float: left;
  }

  #customer {
    width: map-get($frameInitWidth, right);
    float: right;
  }

  /* Подокно во фрейме */
  $handleHead: 40px;

  #handle-head {
    height: $handleHead;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
  }

  .body {
    width: 100%;
    height: calc(100vh - #{$handleHead});
  }

}