$frameMinWidth: 0%;
$frameInitWidth: (
        left: $frameMinWidth,
        right: 100% - $frameMinWidth
);

$switchButtonRadius: 80px;

#tp {

  /* Верхнее окно (основная страница)*/

  .frame {
    height: 100vh;
    min-width: $frameMinWidth;
  }

  #vendor {
    width: map-get($frameInitWidth, left);
    float: left;

    -webkit-transition: width 1s;
    transition: width 1s;
  }

  #customer {
    width: map-get($frameInitWidth, right);
    float: right;

    -webkit-transition: width 1s;
    transition: width 1s;
  }

  &.switched {
    #vendor {
      width: map-get($frameInitWidth, right) !important;

      -webkit-transition: width 1s;
      transition: width 1s;
    }

    #customer {
      width: map-get($frameInitWidth, left) !important;

      -webkit-transition: width 1s;
      transition: width 1s;
    }
  }

  /* Подокно во фрейме */
  $handleHead: 40px;

  #handle-head {
    height: $handleHead;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
  }

  .body {
    /*width: 100%;*/
    /*height: calc(100vh - #{$handleHead});*/
    height: 100vh;
  }

  .switch {
    position: fixed;
    top: -($switchButtonRadius / 2);
    width: $switchButtonRadius;
    height: $switchButtonRadius;
    border-radius: 50%;
    background-color: yellow;
    cursor: pointer;
  }

  #handle-head-left {
    left: -($switchButtonRadius / 2);
  }
  #handle-head-right {
    right: -($switchButtonRadius / 2);
  }
}
