#tp {

  /* Верхнее окно (основная страница)*/

  $frameMinWidth: 3%;
  $frameInitWidth: (
          left: $frameMinWidth,
          right: 100% - $frameMinWidth
  );

  .frame {
    height: 100vh;
    min-width: $frameMinWidth;
  }

  #vendor {
    width: map-get($frameInitWidth, left);
    float: left;


  }

  #customer {
    width: map-get($frameInitWidth, right);
    float: right;
  }

  &.switched {
    #vendor {
      width: map-get($frameInitWidth, right) !important;

      animation-duration: 3s;
      /*animation-name: slidein;*/
    }

    #customer {
      width: map-get($frameInitWidth, left) !important;

      animation-duration: 3s;
      /*animation-name: slideout;*/
    }
  }

  /* Подокно во фрейме */
  $handleHead: 40px;

  #handle-head {
    height: $handleHead;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
  }

  .body {
    /*width: 100%;*/
    /*height: calc(100vh - #{$handleHead});*/
    height: 100vh;
  }

  .switch {

  }

}

@keyframes slidein {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes slideout {
  from {
    width: 100%;
  }

  to {
    width: 0;
  }
}
