.components-in-stock {
  .collapse-head {
    padding: 2px 7px;
    margin-bottom: 5px;
    background-color: #00c000;
    color: #ffe16a;
    font-weight: bold;
    border-bottom: black 2px inset;
    cursor: pointer;
    overflow: hidden;
  }

  .collapse-content {
    max-height: 0;
    overflow: hidden;
    /*transition: 1s;*/

    &.unwrap {
      overflow: visible;
      max-height: 10000px;
      /*transition: 1s;*/
    }
  }
}
