@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");
@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?mkt4j6");
  src: url("fonts/icomoon.eot?mkt4j6#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?mkt4j6") format("truetype"), url("fonts/icomoon.woff?mkt4j6") format("woff"), url("fonts/icomoon.svg?mkt4j6#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right-circle:before {
  content: "";
}

.icon-arrow-left-circle:before {
  content: "";
}

.icon-arrow-down-circle:before {
  content: "";
}

.icon-arrow-up-circle:before {
  content: "";
}

.icon-handshake-o:before {
  content: "";
}

.icon-office:before {
  content: "";
}

.icon-cogs:before {
  content: "";
}

.icon-question:before {
  content: "";
}

.icon-enter:before {
  content: "";
}

.icon-exit:before {
  content: "";
}

.icon-mail2:before {
  content: "";
}

.icon-home3:before {
  content: "";
}

.icon-cart:before {
  content: "";
}

.icon-wrench:before {
  content: "";
}

.icon-hammer:before {
  content: "";
}

/*@import "fonts";*/
.jspContainer .jspDrag {
  /*position: absolute;
  cursor: pointer;
  right: 0;
  top: 0;
  height: 100%;*/
  /*background: url(../images/scrollTrak.gif) repeat-y;  задаем фоновую картинку или просто цвет фона */
}
.jspContainer .jspVerticalBar {
  width: 11px;
  background: transparent !important;
  z-index: 1;
}
.jspContainer .jspArrow.jspArrowUp {
  background: url(/img/scroll/order/arrow_up.gif) no-repeat;
  height: 17px;
}
.jspContainer .jspArrow.jspArrowDown {
  background: url(/img/scroll/order/arrow_down.gif) 0 4px no-repeat;
  height: 17px;
}
.jspContainer .jspDrag {
  background: url(/img/scroll/order/scrollDrag.gif) repeat-y;
}
.jspContainer .jspTrack {
  background: url(/img/scroll/order/scrollTrak.gif) repeat-y;
}
.jspContainer .jspDragTop {
  background: url(/img/scroll/order/scrollDragTop.gif) no-repeat;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  width: 11px;
}
.jspContainer .jspDragBottom {
  background: url(/img/scroll/order/scrollDragBot.gif) no-repeat;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 11px;
}

/* * 1.618;*/
/*body {
  font-family: 'Caveat', cursive;
  font-size: 22px;
}*/
.white-shadow {
  text-shadow: 0 0 4px white, 0 0 5px white, 0 0 5px white, 0 0 6px white, 0 0 6px white;
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#FFF')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#FFF')";
  -webkit-filter: drop-shadow(0 0 4px #FFF);
}

#content {
  background: none;
}

.main-container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0;
  background: none;
}

.components-in-stock {
  width: 25%;
  top: 123px;
  right: 0;
  height: calc(100vh - 123px);
  position: absolute;
}

#order-form {
  width: 75%;
  float: left;
}

.jspContainer {
  overflow: visible !important;
}

.vertical-pane {
  overflow: visible;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  background-image: url(/img/pizza-bg-sm.png);
}

.create-pizza {
  font-family: "Caveat", cursive;
  font-size: 45px;
  font-weight: bold;
  color: wheat;
  text-shadow: 1px 1px 6px #000, 1px 1px 6px #000, 1px 1px 6px #000;
  text-align: center;
}
@media screen and (max-width: 460px) {
  .create-pizza {
    font-size: 35px;
  }
}

.pizza-name {
  font-family: "Caveat", cursive;
  font-size: 35px;
  color: #f5cc26;
  text-shadow: 1px 1px 6px #000, 1px 1px 6px #000, 1px 1px 6px #000;
  text-align: center;
}
@media screen and (max-width: 460px) {
  .pizza-name {
    font-size: 25px;
  }
}

.component {
  width: 80%;
  margin: 15px auto 8px;
  z-index: 1;
}
.component .filler-wrapper {
  position: relative;
}
.component .filler-over {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 100%;
}
.component .img-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.component .price-discount {
  text-decoration: line-through;
}
.component .component-link {
  display: inline-block;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 40px;
}
.component .component-link .filler {
  width: 100%;
}
.component .component-link .comp-info {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -24px;
  text-shadow: 0 0 4px black, 0 0 5px black, 0 0 5px black, 0 0 6px black, 0 0 6px black;
}
.component .component-link .short-name {
  overflow-x: hidden;
  white-space: normal;
  text-align: center;
  width: 100%;
  font-size: larger;
  line-height: 1;
  margin-bottom: 3px;
}
.component .component-link .price {
  color: wheat;
  white-space: nowrap;
  text-align: center;
}

.c-sign-in-price {
  font-size: smaller;
}

.sidebar {
  position: relative;
  padding-right: 3px;
}
.sidebar .menu {
  width: 100%;
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.sidebar .capt-price {
  display: none;
  width: 100%;
  position: relative;
  color: black;
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: left;
  font-weight: bold;
}
.sidebar .capt-price .caption {
  float: left;
}
.sidebar .capt-price .total-price {
  float: right;
  font-weight: bold;
  color: #663399;
}
.sidebar .resulting-panel {
  border: 1px outset black;
  width: 30vw;
  height: 30vw;
}
.sidebar .components-selected-details {
  width: 100%;
  margin-top: 3px;
  height: calc(100vh - 123px);
  overflow-y: auto;
  overflow-x: hidden;
  background: linear-gradient(90deg, #ffb44d 0 3%, #fff 3% 97%, #ffb44d 97% 100%);
  position: relative;
  text-align: center;
}
.sidebar .components-selected-details .panel-detail {
  padding: 0 4.8%;
  margin-top: 15px;
}
.sidebar .components-selected-details.hover {
  background: url(/img/arr-down-bg-lighter.svg) no-repeat 50% 50%, linear-gradient(90deg, #ffb44d 0 3%, #fff 3% 97%, #ffb44d 97% 100%);
  background-size: 80% 80%, auto auto;
}
.sidebar .components-selected-details .added-component {
  position: relative;
  display: flex;
  color: black;
  margin-bottom: 15px;
}
.sidebar .components-selected-details .added-component .text-string {
  display: flex;
  align-items: center;
  width: calc(100% - 95px);
  font-weight: bold;
  font-size: larger;
  text-shadow: 0 0 4px white, 0 0 5px white, 0 0 5px white, 0 0 6px white, 0 0 6px white;
}
.sidebar .components-selected-details .added-component .text-string .short_name {
  white-space: nowrap;
  /*overflow: hidden;*/
  margin-right: 7px;
  line-height: 1;
  color: #353531;
}
.sidebar .components-selected-details .added-component .text-string .price {
  white-space: nowrap;
  color: #663399;
  margin-left: 7px;
  font-size: smaller;
}
.sidebar .components-selected-details .added-component .text-string .dots {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
.sidebar .components-selected-details .added-component > * {
  display: inline-block;
}
.sidebar .components-selected-details .added-component .image {
  width: 40px;
  height: 50px;
  border-radius: 50%;
  background: no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-size: cover;
  margin-right: 15px;
  transition: 3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar .components-selected-details .added-component .image .image-text {
  text-shadow: 0 0 4px white, 0 0 5px white, 0 0 5px white, 0 0 6px white, 0 0 6px white;
}
.sidebar .components-selected-details .added-component .image.over {
  position: absolute;
  left: 0;
  top: 0;
}
.sidebar .components-selected-details .added-component .image.flying {
  position: fixed;
  z-index: 6000;
}
.sidebar .components-selected-details .added-component .elem-manage {
  margin-left: 20px;
  margin-top: 5px;
  width: 20px;
  height: 30px;
}
.sidebar .components-selected-details .added-component .btn-delete {
  background: no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-image: url(/img/btn-close-orig-sm.png);
}
.sidebar .components-selected-details .added-component .btn-switch-component {
  background: no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-image: url(/img/hand-up.gif);
}

.btn-order-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 120px;
  width: 25%;
  background-image: url(/img/wall-tile-part-small.gif);
  display: flex;
  justify-content: center;
  z-index: 2;
}
.btn-order-container .btn-order {
  border: none;
  background: none;
  outline: none;
  position: absolute;
  margin: 20px auto;
  width: 99px;
  height: 80px;
}

.added-component {
  -webkit-transition: opacity 1.2s ease;
  transition: opacity 1.2s ease;
  opacity: 1;
  display: flex;
  width: 100%;
}
.added-component.no-opacity {
  opacity: 0;
  -webkit-transition: opacity 1.2s ease;
  transition: opacity 1.2s ease;
}

.oven-wall {
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
}

.oven-order {
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
}

.flame-wrapper {
  position: absolute;
  top: 25px;
  left: 25px;
  border-radius: 50%;
  background: transparent;
  height: 48px;
  width: 50px;
  overflow: hidden;
}

.oven-flame {
  position: absolute;
  width: 50px;
  top: -16px;
  left: -1px;
}

.order-caption {
  position: absolute;
  top: 58px;
  left: 20px;
  color: white;
  font-weight: bold;
}

.vendor-panel {
  position: relative;
  overflow: hidden;
}
.vendor-panel .video {
  position: relative;
  float: right;
  overflow: hidden;
  background-color: #090909;
  border: none;
  width: 100%;
  height: 120px;
  background-image: url(/video/construct/default.gif);
  background-size: cover;
  background-position: center center;
}

.select-components {
  font-weight: bold;
  color: black;
  position: absolute;
  top: 3%;
  right: 3%;
}

.ingredients {
  font-weight: bold;
  color: #F5DEB3;
  text-shadow: 1px 1px 3px #000, 1px 1px 3px #000;
  font-size: 20px;
}
.ingredients.red {
  animation: red-blink 1s;
}
@media screen and (max-width: 460px) {
  .ingredients {
    font-size: 14px;
  }
}

@keyframes red-blink {
  0% {
    color: #F00;
  }
  100% {
    color: #F5DEB3;
  }
}
.slick-container {
  position: relative;
  overflow: hidden;
  height: 120px;
  /*background: linear-gradient(90deg, #ffb44d 0 $csd-border-padding, #000 $csd-border-padding (100% - $csd-border-padding), #ffb44d (100% - $csd-border-padding) 100%);*/
  /*padding: 0 $csd-border-padding;*/
  padding: 0;
}
.slick-container .video-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #000000AA 0 2.8%, #ffb44d 2.8% 3%, #0000 3% 97%, #ffb44d 97% 97.2%, #000000AA 97.2% 100%);
}

.slick-pane-img {
  width: 100%;
  height: 120px;
  background-size: cover;
}

.arrow-down {
  width: 6%;
  min-width: 20px;
  margin: 5% auto;
}

.standard-pizzas-panel {
  position: absolute;
  top: 123px;
  left: 0;
  width: 0;
  background-color: #2C4257;
  transition: 0.3s;
  z-index: 2;
}
.standard-pizzas-panel .header {
  font-style: italic;
  font-weight: 600;
}
.standard-pizzas-panel.unwrap {
  width: calc(100% - 31px);
  max-width: 400px;
  transition: 0.3s;
  padding: 10px;
}
.standard-pizzas-panel.unwrap .btn-head {
  left: 100%;
  transition: 0.3s;
}
.standard-pizzas-panel .btn-head {
  cursor: pointer;
  text-align: center;
  background-color: gray;
  color: white;
  font-weight: bold;
  /*transform: rotate(90deg);
  transform-origin: 0 0;*/
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s;
  -webkit-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
  padding: 20px 6px;
  letter-spacing: 3px;
}
.standard-pizzas-panel .pizzas-list {
  width: 100%;
  overflow: hidden;
  line-height: 2.2;
}
.standard-pizzas-panel .pizzas-list .header-tip {
  text-align: right;
  color: yellow;
  font-size: smaller;
  line-height: 0;
}
.standard-pizzas-panel .pizzas-list .elem {
  cursor: pointer;
}
.standard-pizzas-panel .pizzas-list .elem:hover {
  background-color: #999999;
}

.brick-wall {
  position: absolute;
  top: 0;
  left: 0;
}

.comp-amount {
  position: absolute;
  left: 20px;
  font-size: 20px;
  background-color: black;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  color: white;
  top: 20px;
  border: 1px #FFFFFF99 solid;
  line-height: 1.35;
}

.switch-component-modal {
  color: #2d3436;
}
.switch-component-modal .close {
  opacity: 0.7 !important;
}
.switch-component-modal .switch-component {
  display: flex;
  margin: 10px 0;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 20px;
  padding: 0 15px;
}
.switch-component-modal .switch-component.selected {
  background-color: #9D9D9D;
  color: white;
  font-weight: bold;
}
.switch-component-modal .switch-component:hover {
  background-color: #F5DEB3;
}
.switch-component-modal .switch-component .image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.switch-component-modal .switch-component .name {
  margin: 0 10px;
  overflow: hidden;
}
.switch-component-modal .switch-component .price {
  margin-left: auto;
  color: #663399;
}

.popup-iframe {
  width: 100%;
  height: calc(100vh - 120px);
}

#order-form-submit .preview-element-yd {
  width: 100%;
}
#order-form-submit .preview-element-yd.error .label {
  color: red;
}
#order-form-submit .preview-element-yd .label {
  white-space: nowrap;
  width: 100%;
  display: inline-block;
  text-align: left;
}
#order-form-submit .preview-element-yd input,
#order-form-submit .preview-element-yd textarea,
#order-form-submit .preview-element-yd select {
  color: black;
  border-radius: 10px;
  width: 100%;
}
#order-form-submit .preview-element {
  display: flex;
}
#order-form-submit .preview-element .price {
  margin-left: auto;
  color: #ff0080;
}
#order-form-submit .preview-element .price .amount {
  color: #fff;
  margin-right: 7px;
  display: inline;
  font-size: 10px;
}
#order-form-submit .preview-element.total-price-element {
  margin-top: 15px;
  border-top: 2px #FFFF0055 dotted;
}
#order-form-submit .preview-element .label {
  white-space: nowrap;
  text-align: left;
}
#order-form-submit .order-data-container {
  background-color: #2d3436;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 15px 0;
  font-weight: bold;
}
#order-form-submit .order-data-container.info-panel h1, #order-form-submit .order-data-container.info-panel h2, #order-form-submit .order-data-container.info-panel h3, #order-form-submit .order-data-container.info-panel h4, #order-form-submit .order-data-container.info-panel h5, #order-form-submit .order-data-container.info-panel h6 {
  margin: 0;
}
#order-form-submit .order-data-container.has-background {
  background-image: url(/img/pizza-bg-sm.png);
  background-size: 115px;
  text-shadow: 1px 1px 5px black;
  margin-top: 0;
}
#order-form-submit .order-data-container .info-message {
  font-size: smaller;
  font-weight: normal;
  font-style: italic;
  margin-top: 5px;
  color: yellow;
}
#order-form-submit .order-data-container .info-message.red {
  color: red;
  font-weight: bold;
}
#order-form-submit .order-data-container .title {
  text-align: center;
  color: yellow;
  margin-bottom: 5px;
  font-size: 16px;
  font-style: italic;
}
#order-form-submit .order-data-container.select-providers .btn-select {
  color: black;
  width: 100%;
}
#order-form-submit .order-data-container.select-providers .selector {
  width: 100%;
  margin: 0;
  /*&.first {
    margin-top: 10px;
  }*/
}
#order-form-submit .order-data-container.select-providers .selector input {
  margin-right: 5px;
}
#order-form-submit .dropdown {
  color: black;
  width: 100%;
  padding: 2px;
  border-radius: 10px;
}
#order-form-submit .btn-submit-order {
  width: 100%;
  padding: 12px;
  border-radius: 40px;
  font-weight: 800;
  text-transform: uppercase;
  background-image: url(/img/pizza-bg-sm.png);
  color: yellow;
  background-color: #2d3436;
  text-shadow: 1px 1px 5px black;
  letter-spacing: 1px;
}

.pizzeria-panel {
  display: flex;
  margin: 10px;
}
.pizzeria-panel .btn-pizzeria-info {
  border-radius: 23px;
  color: black;
  border: none;
  background-color: #ffb700;
}

.places-map {
  height: 220px;
  width: 100%;
}
.places-map a {
  color: #0007 !important;
}

.currency-sign {
  font-size: 10px;
}

#frm-confirmed-order {
  width: 100%;
  height: 1000px;
  border: none;
  display: none;
}

.error-messages {
  color: #c90000;
  background-color: black;
  border-radius: 10px;
  width: 100%;
  margin: 5px 0;
  padding: 8px;
}
.error-messages .err-title {
  color: white;
  font-style: italic;
}

.map-placeholder {
  position: relative;
  margin-bottom: 12px;
  border: 1px solid gray;
}

.suggestions-wrapper {
  color: black;
}

.correct-geolocation {
  color: black;
  border-radius: 20px;
  width: 100%;
  background-color: #ffc86a;
  margin: 5px 0;
  padding: 2px;
}

.leaflet-popup-content hr {
  margin: 5px 0;
}

.registration-info {
  display: flex;
  color: #1b1b1b !important;
  align-items: center;
  font-weight: bold;
  font-style: italic;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}
.registration-info .icon {
  margin-left: auto;
  font-size: 23px;
  cursor: pointer;
}
.registration-info .icon-exit {
  color: #1b1b1b !important;
}
.registration-info .icon-exit:hover {
  text-decoration: none;
}

.frame-fill {
  width: 100%;
  border: none;
  height: 70vh;
}

.auth-clients {
  margin-bottom: 0;
  padding-bottom: 30px;
}

@media screen and (max-width: 1000px) {
  .registration-info,
.capt-price {
    padding-left: 15px;
  }
}
@media screen and (max-width: 650px) {
  .component {
    width: 90%;
    margin: 12px auto 5px;
  }
}
@media screen and (max-width: 550px) {
  .component {
    width: 100%;
    margin: 12px auto 5px;
  }

  .components-in-stock,
.btn-order-container {
    width: 30% !important;
  }

  #order-form {
    width: 70%;
    float: left;
  }

  .sidebar .components-selected-details .comp-amount {
    left: auto;
    bottom: auto;
    right: -5px;
    top: -5px;
  }
  .sidebar .components-selected-details .registration-info,
.sidebar .components-selected-details .capt-price {
    padding-left: 20px;
  }
  .sidebar .components-selected-details .added-component {
    display: block;
    height: 70px;
  }
  .sidebar .components-selected-details .added-component .image {
    width: 100%;
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  .sidebar .components-selected-details .added-component .text-string {
    display: block;
    width: 100%;
    text-align: left;
    position: relative;
    /*top: -25px;*/
    top: 33px;
  }
  .sidebar .components-selected-details .added-component .text-string .short_name {
    width: 100%;
  }
  .sidebar .components-selected-details .added-component .text-string .price {
    float: left;
    margin-left: 0;
  }
  .sidebar .components-selected-details .added-component .dots {
    display: none;
  }
  .sidebar .components-selected-details .added-component .btn-delete,
.sidebar .components-selected-details .added-component .btn-switch-component {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-left: 7px;
  }
}
@media screen and (max-width: 450px) {
  .registration-info,
.capt-price {
    padding-left: 25px;
  }
}
.elem-pi {
  width: 30%;
  background-color: #1d1d1d;
  border-left: 1px solid black;
  float: right;
  text-align: center;
}

.elem-pi:hover {
  background-color: #e8e8e8;
  color: black;
}

/*# sourceMappingURL=order-form.css.map */
