@media screen and (max-width: 550px) {

  .component {
    width: 100%;
    margin: 12px auto 5px;
  }

  .components-in-stock,
  .btn-order-container {
    width: $components-pane-width-mob !important;
  }

  #order-form {
    width: 100% - $components-pane-width-mob;
    float: left;
  }

  .sidebar {
    .components-selected-details {

      .comp-amount {
        left: auto;
        bottom: auto;
        right: -5px;
        top: 10px;
      }

      .registration-info,
      .capt-price {
        padding-left: 20px;
      }

      .added-component {
        display: block;
        /*height: 70px;*/
        height: 95px;
        margin-bottom: 0;
        border-bottom: 1px solid #EEE;

        .image {
          /*width: 100%;*/
          width: 90px;
          height: 90px;
          border-radius: 50%;
          margin: 0 calc(50% - 45px);
          position: absolute;
          top: 0;
          left: 0;
        }

        .text-string {
          display: block;
          width: 100%;
          text-align: left;
          position: relative;
          /*top: -25px;*/
          top: 33px;

          .short_name {
            width: 100%;
            top: -22px;
            position: relative;
          }

          .price {
            float: left;
            margin-left: 0;
          }
        }

        .dots {
          display: none;
        }

        .btn-delete,
        .btn-switch-component {
          position: absolute;
          right: 0;
          bottom: 15px;
          margin-left: 7px;
        }
      }
    }
  }
}
